@use '@angular/material' as mat;

@mixin custom-palette-vars() {
  :root {
    --palette-neutral0: #000000;
    --palette-neutral20: #3b3b3b;
    --palette-neutral40: #c4c4c4;
    --palette-neutral60: #e5e5e5;
    --palette-neutral80: #f2f2f2;
    --palette-neutral100: #ffffff;
    --color-primary-lighter: #e0f5f4;
    --color-primary-default: #00aea4;
    --color-primary-darker: #23847e;
    --color-accent-lighter: #ed993f;
    --color-accent-default: #f26c48;
    --color-accent-darker: #ffaca1;
    --color-white: white;
    --color-black: #3b3b3b;
  }
}

$heading-font-family: "'Poppins', Verdana, sans-serif";
$app-typography: mat.define-typography-config(
  $font-family: '"Roboto", sans-serif',
  $headline-4: mat.define-typography-level(24px, 28px, 700, $font-family: $heading-font-family),
  $headline-5:
    mat.define-typography-level(
      36px,
      54px,
      700,
      $letter-spacing: -0.02em,
      $font-family: $heading-font-family
    ),
  $headline-6: mat.define-typography-level(20px, 28px, 700, $font-family: $heading-font-family),
  $subtitle-1: mat.define-typography-level(20px, 28px, 700),
  $body-1: mat.define-typography-level(20px, 28px, 700),
  $body-2: mat.define-typography-level(20px, 28px, 400),
  $subtitle-2: mat.define-typography-level(16px, 28px, 400),
  $caption: mat.define-typography-level(20px, 28px, 700),
  $button: mat.define-typography-level(20px, 28px, 700),
);

$palette: (
  50: var(--color-primary-lighter),
  100: var(--color-primary-default),
  200: var(--color-primary-darker),
  A50: var(--color-accent-lighter),
  A100: var(--color-accent-default),
  A200: var(--color-accent-darker),
  contrast: (
    50: var(--color-black),
    100: var(--color-black),
    200: var(--color-black),
    A50: var(--color-black),
    A100: var(--color-black),
    A200: var(--color-black),
  ),
);

$emat-primary: mat.define-palette($palette, 100, 50, 200);
$emat-accent: mat.define-palette($palette, A100, A50, A200);

$emat-theme: mat.define-light-theme(
  (
    color: (
      primary: $emat-primary,
      accent: $emat-accent,
    ),
    typography: $app-typography,
  )
);

@mixin custom-theme() {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.25);
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(4px);
  }

  .mat-drawer-container[fullscreen].mat-drawer-container-has-open {
    .mat-drawer-backdrop {
      background: rgba(59, 59, 59, 0.5);
      backdrop-filter: blur(4px);
    }
  }
  .mat-drawer-container {
    background-color: var(--palette-neutral60);
    color: var(--color-black);
  }

  .mat-drawer-content.mat-sidenav-content {
    position: relative;
    z-index: 1;
    height: calc(100% - 90px);
    max-width: 100%;
    margin: 90px auto;
    color: var(--color-black);
    padding: 32px 16px;
    box-sizing: inherit;
  }

  .mat-mdc-card-outlined {
    --mdc-outlined-card-outline-width: 0;
    --mdc-elevated-card-container-shape: 10px;
    display: block;
    max-width: 904px;
    margin-bottom: 40px;
    padding: 20px 20px 24px 27px;

    .mat-mdc-card-content {
      padding: 0;
      margin-top: 8px;
    }
    .mat-mdc-card-actions {
      padding: 0;
      gap: 20px;
      margin-top: 25px;
      flex-wrap: wrap;
    }
  }

  .mat-mdc-button-base {
    --mdc-shape-small: 5px;
    --mdc-outlined-button-outline-width: 2px;
    --mdc-outlined-button-outline-color: var(--mdc-outlined-button-label-text-color, inherit);

    .mdc-button__label {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.mat-mdc-raised-button,
    &.mat-mdc-outlined-button {
      height: 50px;
      > .mat-icon {
        padding-left: 8px;
        font-size: 30px;
        height: 30px;
        width: 30px;
        padding-right: 1px;
      }
    }

    &.mat-mdc-raised-button {
      padding: 0 26px 0 16px;
    }

    &.mat-mdc-outlined-button {
      font-weight: 400;
      padding: 0 20px 0 15px;
      > .mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }
    }

    &.mat-mdc-raised-button:not(:disabled) {
      --mdc-protected-button-container-elevation: 0px 4px 0px #c7401b;
      --mdc-protected-button-hover-container-elevation: none;
      --mdc-protected-button-label-text-color: var(--color-white);
      &:hover .mat-mdc-button-persistent-ripple::before {
        opacity: 0;
      }
    }

    &.mat-mdc-outlined-button:not(:disabled) {
      &:hover .mat-mdc-button-persistent-ripple::before {
        opacity: 0.1;
      }
    }

    &.mat-mdc-fab.mat-primary:not(.mat-mdc-extended-fab) {
      --mdc-fab-container-color: var(--color-white);
      --mat-mdc-fab-color: var(--color-primary-default);
      width: 54px;
      height: 54px;
      box-shadow: none;
      filter: drop-shadow(0px 4px 0px var(--color-primary-darker));
      > .mat-icon {
        transform: scale(1.25);
      }
      &:hover {
        filter: none;
        margin-top: 8px;
      }
    }
  }

  .mat-mdc-select {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    .mat-mdc-select-value {
      color: var(--color-black);
    }
  }
  .select-custom-style.mat-mdc-select-panel {
    .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
        .mdc-list-item--disabled
      ) {
      background: rgba(0, 0, 0, 0.04);
      border-left: 4px solid #00aea4;
    }
  }

  .mat-mdc-form-field
    .mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    font-size: 14px;
    line-height: 16px;
    color: #adafb4;
    top: 25px;
    padding-left: 9px;
  }

  .mat-primary
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text {
    color: black;
    font-weight: 700;
    margin-left: -4px;
  }

  .mat-mdc-option.mdc-list-item .mdc-list-item__primary-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  .mat-typography .mat-headline-4 {
    margin: 0 0 20px;
  }

  @media (min-width: 700px) {
    .mat-drawer-content.mat-sidenav-content {
      max-width: 1024px;
      padding: 50px 60px;
    }
  }
}
